*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #070659;
    color: white;
    max-width: 834px;
    width: 85%;
    display: grid;
    margin: 0px auto;
}
header{
    background: #020873;
    text-transform: uppercase; 
}
nav li {
    display: inline-block;
    margin: 0;
}

li, a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}
.firstheader{
    text-transform: capitalize;
}
main {
    background: white;
    margin-bottom: 0px;
}
article {
    background-image: linear-gradient(to right, #030ABC, black);
    padding: 8px 15px;
    margin: 0px auto;
}
#trending {
    background: white;
}
.your {
    background: #0D8DFB;
}
.curated {
    background: #020873;
}
footer{
    background: white;
    color: #590242;
    margin-top: 0px;
    padding: 15px;
    text-align: center;
    font-size: .75em;
}
@media screen and (max-width 450px) {

}
@media screen and (min-width:451px) {

}