*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #070659;
    color: #590242;
    max-width: 834px;
    width: 85%;
    margin: 0px auto;
}
header{
    background: #020873;
    text-transform: uppercase; 
    padding: 10px;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
nav li, a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    list-style-type: none;
    
}
.firstheader{
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
}
main {
    background: white;
    margin-bottom: 0px;
}
article {
    background-image: linear-gradient(to right, #030ABC, black);
    color: white;
    padding: 5px 15px;
    margin: 0px auto;
}
#trending {
    background: white;
}
.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section {
    margin: 10px;
    position: relative;
}
.scroll dl{
    position: absolute;
    top: 251px;
    background-color: #d3d3d3;
    padding: 5px;
    height: 50px;
    width: 301px;
}
dl{
    display: flex;
}
dt {
    padding-right: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1em;
}
dd {
    font-size: 1em;
}
audio{
    position: absolute;
    bottom: 150px;
    left: 5px;
}
.playlists{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#yourplaylists {
    display: ;
    grid-column-start: 1;
    grid-column-end: 2;
}
.your {
    background: #0D8DFB;
    color: white;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    overflow-x: hidden;
    overflow-y: auto;
}
 #curatedplaylists {
    grid-column-start: 2;
    grid-column-end: 3;
}  
.curated {
    background: #020873;
    color:white;
     display: grid;
    grid-template-rows: repeat(5, 1fr);
    overflow-x: hidden;
    overflow-y: auto;
}
footer{
    background: white;
    color: #590242;
    margin-top: 0px;
    padding: 15px;
    text-align: center;
    font-size: .75em;
}

audio::-webkit-media-controls-mute-button {

}
audio::-webkit-media-controls-play-button {

}
audio::-webkit-media-controls-enclosure {

}

#trending ::-webkit-scrollbar {

}
#trending ::-webkit-scrollbar-track {

}
#trending ::-webkit-scrollbar-thumb {

}
#trending ::-webkit-scrollbar-thumb:hover {

}
.your ::-webkit-scrollbar, .curated ::-webkit-scrollbar {

}
.your ::-webkit-scrollbar-track, .curated ::-webkit-scrollbar-track  {

}
.your ::-webkit-scrollbar-thumb, .curated ::-webkit-scrollbar-thumb {

}
.your ::-webkit-scrollbar-thumb:hover, .curated ::-webkit-scrollbar-thumb:hover {

}


@media screen and (max-width 400px) {

    .scroll div{
        positon: absolute;
        top: 251px;
        background-color: #d3d3d3;
        padding: 5px;
        height: 50px;
        width: 350px;

    ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }
    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    label span:before {
        top: 5px;
    }
    label span:after {
        top: -5px;
    }
    input {
        display: none;
    }
    input:checked ~ ul {
        max-height: 500px;
    }
    input:checked ~ label span {
        background: transparent;
    }
    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }
    input:checked ~ label span:after {
        transform: rotate(45deg);
    }
    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    }
    
    }
